In [8]:
import dask.dataframe as dd

In [9]:
df = dd.read_csv('air_traffic_data.csv')

In [10]:
print(df.head())

   Activity Period Operating Airline Operating Airline IATA Code  \
0           200507      ATA Airlines                          TZ
1           200507      ATA Airlines                          TZ
2           200507      ATA Airlines                          TZ
3           200507       Air Canada                           AC
4           200507       Air Canada                           AC

  Published Airline Published Airline IATA Code    GEO Summary GEO Region  \
0      ATA Airlines                          TZ       Domestic         US
1      ATA Airlines                          TZ       Domestic         US
2      ATA Airlines                          TZ       Domestic         US
3       Air Canada                           AC  International     Canada
4       Air Canada                           AC  International     Canada

  Activity Type Code Price Category Code    Terminal Boarding Area  \
0           Deplaned            Low Fare  Terminal 1             B
1           Enplaned            Low Fare  Terminal 1             B
2     Thru / Transit            Low Fare  Terminal 1             B
3           Deplaned               Other  Terminal 1             B
4           Enplaned               Other  Terminal 1             B

   Passenger Count Adjusted Activity Type Code  Adjusted Passenger Count  \
0            27271                    Deplaned                     27271
1            29131                    Enplaned                     29131
2             5415          Thru / Transit * 2                     10830
3            35156                    Deplaned                     35156
4            34090                    Enplaned                     34090

   Year Month
0  2005  July
1  2005  July
2  2005  July
3  2005  July
4  2005  July